.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 75px;
}

.App-header {
  background-color: darkturquoise;
  height: 136px;
  padding: 20px;
  color: darkslategray;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: solid yellow 3px;
}
