[Service]
ExecStart=/usr/bin/node /home/ubuntu/bin/quxMicro/bin/www
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=undead-site
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
